<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Computer_Management.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Computer_Management.Settings>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PasteReplaceMonth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SortingBy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsDarkModeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>#FF151B25</value>
            </setting>
            <setting name="Midground" serializeAs="String">
                <value>#FF202936</value>
            </setting>
            <setting name="Foreground" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="BorderColor" serializeAs="String">
                <value>#FFFF7400</value>
            </setting>
        </Computer_Management.Settings>
    </userSettings>
</configuration>
